
/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
 	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}

a{
    text-decoration: none!important;
}

/*.headerBar,.navbar .navbar-default{
      background-image: url("../Image/la_vague.png");
    }*/

.navbar-inverse {
    background-color: #518FAA;
    border:none;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#f8f9f9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Css perso */

.contentGroup
{
    margin:20px;
}

.labarnav
{
    background-color:#1f6dd3;
    color:white;
}

.navbar-brand
{
    color:white;
}


.text-red
{
    color: darkred;
}

.panel-orange
{
    background-color:orange;
    color:white;
}

.text-white
{
    color:white;
}

.text-gray
{
    color:gray;
}

.text-orange
{
    color:orange;
}


.set
{
    color: #5cb85c;
}

li:hover
{
    cursor:pointer;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}


/*a.btnChat
{
     background: url(../Images/image.gif) no-repeat top left;
     display: block;
     width: 10px;
     height: 10px;
     text-indent: -9999px;
}*/


.colorHeader{
    background-color:black;
}



.navbar-brand
{
    padding-left:30px !important;
}

.btnMesAnnoncesIndex
{
    background-color :#2ecc71;
}
.btnMonProfilIndex
{
    background-color :#e74c3c;
}
.btnMesVoyagesIndex
{
    background-color :#3498db;
}
.btnMonProchainVoyageIndex
{
    background-color :#bdc3c7;
}



.blockMenu{
    margin:10px 0;
    color:white;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.blockMenu:active{
    background-color :#bdc3c7;
}


footer{
    text-align:center;
}

.btn{
    width:100%;
    max-width:100%;
}

.form-control {
    width:100%;
    max-width:100%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
    border: none;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
    border:none;
    background-color:#427a93;
}


.groupePro
{
    background-color:#2980b9;
    padding:10px;
    margin-bottom:10px;
}

.groupeLoisir
{
    background-color:#FFD045;
    padding:10px;
    margin-bottom:10px;

}

.groupePro {
    position: relative;
}

.groupePro:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 40px solid #f8f9f9;
    border-left: 40px solid #2980b9;
    width: 0;
}

.groupeLoisir {
    position: relative;
}

.groupeLoisir:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 40px solid #f8f9f9;
    border-left: 40px solid #FFD045;
    width: 0;
}