/* Modification bootstrap */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

a{
    text-decoration: none!important;
}



body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Css perso */

.contentGroup
{
    margin:20px;
}

.labarnav
{
    background-color:#1f6dd3;
    color:white;
}

.navbar-brand
{
    color:white;
}


.text-red
{
    color: darkred;
}

.panel-orange
{
    background-color:orange;
    color:white;
}

.text-white
{
    color:white;
}

.text-gray
{
    color:gray;
}

.text-orange
{
    color:orange;
}


.set
{
    color: #5cb85c;
}

li:hover
{
    cursor:pointer;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}


/*a.btnChat
{
     background: url(../Images/image.gif) no-repeat top left;
     display: block;
     width: 10px;
     height: 10px;
     text-indent: -9999px;
}*/


.colorHeader{
    background-color:black;
}



.navbar-brand
{
    padding-left:30px !important;
}

.btnMesAnnoncesIndex
{
    background-color :red;
}
.btnMonProfilIndex
{
    background-color :green;
}


.blockMenu{
    margin:10px 0;
    color:white;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.blockMenu:active{
    background-color :blue;
}


footer{
    text-align:center;
}