@{
    ViewBag.Title = "List voyages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes voyages</h2>




<div class="form-horizontal">
    <hr />

    <p class="zoneAction">
        <a href="/Voyage/AddVoyage"><img src="~/Image/add-round-button.png" /> Rechercher un voyage</a>
    </p>


        <div class="row zoneLigneGlobal">
            <a href="/Voyage/MenuVoyage">
                <div class="col-xs-10 zoneLigne">
                    <div>
                        <span class="petitZoneLigne">  Départ : Gare de , 27/11/2016, 15h05</span>
                        <span class="floatRight petitZoneLigne">  Numéro de train : 5016</span>

                    </div>
                    <div>
                        <span class="petitZoneLigne">Arrivée : Gare de , 27/11/2016, 16h05</span>
                    </div>
                </div>
            </a>
            <div class="col-xs-1">
                <img src="~/Image/cancel-button.png" />
            </div>
        </div>

        <div class="row zoneLigneGlobal">
            <a href="/Voyage/MenuVoyage">
                <div class="col-xs-10 zoneLigne">
                    <div>
                        <span class="petitZoneLigne">  Départ : Gare de , 27/11/2016, 15h30</span>
                        <span class="floatRight petitZoneLigne">  Numéro de train : 4125</span>

                    </div>
                    <div>
                        <span class="petitZoneLigne">Arrivée : Gare de , 27/11/2016, 16h45</span>
                    </div>
                </div>
            </a>
            <div class="col-xs-1">
                <img src="~/Image/cancel-button.png" />
            </div>
        </div>
    
</div>


 

