@{
    ViewBag.Title = "Menu voyage";
}

<div class="container-fluid">
    <div class="contentGroup">

        <div class="row">


            <div class="form-group">
                <div class="col-md-12">
                    Train numéro : 5555
                </div>
            </div>

            <div class="col-md-6">
                <a href="/Announce/RechercheAnnounce">
                    <div class="blockMenu btnRechercheAnnonce">
                        <img class="iconMenu" src="~/Image/voyages.png" />
                        Loisirs
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="">

                    <div class="blockMenu btnRecherchePro">
                        <img class="iconMenu" src="~/Image/voyages.png" />
                        Professionnels
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>