@{
    ViewBag.Title = "Accueil";
}

<div class="container-fluid">
    <div class="contentGroup">

        <div class="row">
            <div class="col-md-6">
                <a href="">
                    <div class="blockMenu btnMesAnnoncesIndex">
                        <p class="glyphicon glyphicon-list-alt"></p>
                        Mes annonces
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <div class="blockMenu btnMonProfilIndex">
                        <p class="glyphicon glyphicon-list-alt"></p>
                        Mon profil
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>