@{
    ViewBag.Title = "Conversation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes messages</h2>


<div class="form-horizontal">
    <hr />

        <div class="form-group zoneLigneGlobal">
            <div class="col-md-12 ">
                <div class="zoneConversation">
                    <div class="textRight">
                        <p class="petitZoneLigne prenomMessage">  Marie :</p>
                        <p class="petitZoneLigne">  Bonjour, je me suis inscrite à votre partie de belote du trajet de ce soir (DIJON-LYON) lors de ma réservation sur VoyagesSSNCF.COM. J'ai même pu décrocher des places PRIO-LOISIRS. Vu votre localidation dans le train indiquée dans votre annonce, nous devrions être voisin dans le même carré. Au plaisir de ce bon moment de partage. A ce soir.</p>
                    </div>
                    <div>
                        <p class="petitZoneLigne prenomMessage">  Filipe :</p>
                        <p class="petitZoneLigne">  Bonjour,
                            Super.
                            Au plaisir de se rencontrer ce soir,
                            A tout à l’heure,
                            </p>
                    </div>
                </div>
            </div>
        </div>


    <div class="form-group">
        <div class="col-md-12">
            <textarea class="form-control text-box multi-line" id="message" name="message" placeholder="Message"></textarea>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Envoyer le message" class="btn btn-default" />
        </div>
    </div>

</div>


 

