@{
    ViewBag.Title = "Conversation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes messages</h2>


<div class="form-horizontal">
    <hr />

        <div class="form-group zoneLigneGlobal">
            <div class="col-md-12 ">
                <div class="zoneConversation">
                    <div>
                        <p class="petitZoneLigne prenomMessage">  Kevin Szary :</p>
                        <p class="petitZoneLigne">  Bonjour</p>
                    </div>
                    <div class="textRight">
                        <p class="petitZoneLigne prenomMessage">  Filipe Barros :</p>
                        <p class="petitZoneLigne">  Bonjour</p>
                    </div>
                </div>
            </div>
        </div>


    <div class="form-group">
        <div class="col-md-12">
            <textarea class="form-control text-box multi-line" id="message" name="message" placeholder="Message"></textarea>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Envoyer le message" class="btn btn-default" />
        </div>
    </div>

</div>


 

