@{
    ViewBag.Title = "Conversation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes messages</h2>




<div class="form-horizontal">
    <hr />

        <div class="row zoneLigneGlobal">
            <div class="col-xs-12 zoneLigne">
                <div>
                    <p class="petitZoneLigne">  Kevin Szary :</p>
                    <p class="petitZoneLigne">  Bonjour</p>
                </div>
                <div>
                    <p class="petitZoneLigne">  Filipe Barros :</p>
                    <p class="petitZoneLigne">  Bonjour</p>
                </div>
            </div>
        </div>

</div>


 

