@{
    ViewBag.Title = "List Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes messages</h2>




<div class="form-horizontal">
    <hr />


        <div class="row zoneLigneGlobal">
            <div class="col-xs-10 zoneLigne">
                <div>
                    <span class="grandZoneLigne">  Kevin Szary</span>
                    <span class="floatRight petitZoneLigne">  En ligne</span>
                    
                </div>
                <div>
                    <span class="petitZoneLigne">
                        27/11/2016, 13h05
                    </span>
                </div>
            </div>
            <div class="col-xs-1">
                <a href="/Chat/Conversation"><img src="~/Image/chat.png" /></a>
            </div>
        </div>


    <div class="row zoneLigneGlobal">
        <div class="col-xs-10 zoneLigne">
            <div>
                <span class="grandZoneLigne">  Antoine </span>
                <span class="floatRight petitZoneLigne">  Hors-ligne</span>

            </div>
            <div>
                <span class="petitZoneLigne">
                    26/11/2016, 09h25
                </span>
            </div>
        </div>
        <div class="col-xs-1">
            <a href="/Chat/Conversation"><img src="~/Image/chat.png" /></a>
        </div>
    </div>
    


</div>


 

