@model IEnumerable<HCK_DAL.Annonce>

@{
    ViewBag.Title = "List Announces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes annonces</h2>




<div class="form-horizontal">
    <hr />

    <p>
        @Html.ActionLink("Nouvelle annonce", "AddAnnounce")
    </p>


    @foreach (var item in Model)
    {
        <div class="row zoneLigneGlobal">
            <div class="col-xs-10 zoneLigne">
                <div>
                    <span class="grandZoneLigne">  @Html.DisplayFor(modelItem => item.titre)</span>
                    <span class="floatRight petitZoneLigne">  Categorie : @Html.DisplayFor(modelItem => item.Categorie.libelle)</span>
                    
                </div>
                <div>
                    <span class="petitZoneLigne">
                        Activer :
                        <input type="checkbox" checked value="1" id="flatOneRoundedCheckbox" name="" />
                    </span>
                    <span class="floatRight petitZoneLigne">  Nombre de slot utilisé :@((item.nbSlot - item.nbSlotUtilise))</span>
                </div>
            </div>
            <div class="col-xs-1">
                <img src="~/Image/cancel-button.png" />
            </div>
        </div>
    }


</div>


 

